@import url('https://fonts.googleapis.com/css?family=Raleway&subset=latin-ext');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

}

body {
    width: 1200px;
    margin:  0 auto;
}


.container {
    width: 1100px;
    margin: 0 auto;
}

header {
    background: #000000;
    height: 40px;
    border-bottom: 1px solid #474747;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.mainNav li {
    display: inline;
}

.mainNav li:not(:last-of-type){
    padding-right: 52px;
}


.mainNav li a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    cursor: pointer;
    letter-spacing: 1px;
}

.whiteLetters {
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
}

.greenLetters {
    color: #15bea1;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 6px;
    letter-spacing: 1px;
}

.logoHeader a {
    text-decoration: none;
    cursor: pointer;
}

.firstSection {
    height: 504px;
    display: flex;
    align-self: flex-end;
    background: #f8f8f8; /* Old browsers */
    background: -moz-linear-gradient(top, #f8f8f8 0%, #cbcacf 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f8f8f8 0%,#cbcacf 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f8f8f8 0%,#cbcacf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#cbcacf',GradientType=0 ); /* IE6-9 */
}

.firstSection .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}




.showMore h1 {
    font-size: 29px;
    text-align: left;
    padding-bottom: 30px;
    padding-left: 17px;
}


.showMore p {
    text-align: center;
    width: 366px;
    padding-bottom: 20px;
}

.showMore a {
    text-align: center;
}

.blackLetters {
    color: #030303;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 100;
}

.firstSection .greenLetters {
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: 900;
}

.firstSection button {
    height: 52px;
    width: 264px;
    background: #24ba9f;
    color: #feffff;
    font-size: 17px;
    border-radius: 10%;
    font-weight: 100;
}

.showMore {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blackChair {
    margin-top: 50px;
    position: relative;
}

.leftArrow, .rigthArrow{
    font-size: 60px;
    color: #19c1a0;
}

.secondSection {
    height: 350px;
    background: #ffffff;
}

.secondSection .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 70px;
    padding-top: 27px;
}


.secondSection .container div:not(:last-of-type) {
    padding-right: 30px;
}

.secondSection .container div {
    width: 329px;
}


.findAllInputs {
    border: 1px solid #d9d9d9;
    height: 252px;
    padding: 22px;
}

.transparentBackground {
    position: relative;
    width: 329px;
    height: 225px;
}


.transparentBackground div {
    position: absolute;
    bottom: 15px;
    height: 64px;
    background:rgba(255,255,255, 0.4);
    padding-left: 20px;
    padding-top: 17px;
}

.relGre {
    position: relative;
}


.transparentBackground div:before{
    content: "";
    position: absolute;
    left: 14px;
    bottom: 22px;
    width: 142px;
    border-bottom: 7px solid #2bc7af;
}

.findAllInputs div:before{
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    width: 142px;
    border-bottom: 7px solid #2bc7af;
}

.findAllInputs h2{
    font-size: 14px;
    padding-bottom: 30px;
    font-weight: 900;

}

.findAllInputs p{
    text-align: justify;
    font-size: 12px;
    letter-spacing: 1px;
    color: #6e6e6e;
}

.findAllInputs p:first-of-type{
    padding-bottom: 30px;
}


.thirdSection {
    background: #f1f1f1;
    height: 725px;
}

.cardColection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;

}

.thirdSection .container p{
    padding-top: 40px;
}
.thirdSection .container {
    position: relative;
}


.greenCennik:before{
    content: "";
    position: absolute;
    top: 60px;
    width: 300px;
    border-bottom: 7px solid #2bc7af;
}

.card {
    width: 330px;
    height: 500px;
    background: #f9f9f9;
    border: 2px solid #d4d4d4;
}

.plan {
    height: 240px;
}

